* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #17152d;
}

.navbar {
    height: 80px;
    background: linear-gradient(90deg, #17152d, #6025eb);

    display: flex;
    align-items: center;
    padding: 0 30px;

    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

/* Logo no canto esquerdo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 130px;
    height: auto;
}

/* Menu */
.navbar ul {
    display: flex;
    gap: 35px;
    list-style: none;

    margin: auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/* Efeito ao passar o mouse */
.navbar ul a {
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.navbar ul a:hover {
    background-color: #8b5cf6;
    box-shadow: 0 0 12px #8b5cf6;
}


/* TÍTULO */

.inicio {
    text-align: center;
    padding: 80px 20px 50px;

    background: linear-gradient(
        135deg,
        #17152D,
        #21184A
    );
}

.inicio h1 {
    font-size: 48px;
    color: #8B5CF6;
    margin-bottom: 15px;
}

.inicio p {
    font-size: 19px;
    color: #CBD5E1;
}


/* SOBRE */

.sobre {
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 20px;
    background-color: #211D45;
    text-decoration-color: #2563EB;
    font-size: 17px; 
    border-radius: 15px;   
}

.texto {
    flex: 1;
}

.texto h2,
.objetivo h2,
.recursos h2,
.final h2 {
    color: #8B5CF6;
    font-size: 30px;
    margin-bottom: 20px;
}
.texto h3{
    color: #e4302a;
}
.texto p {
    color: #CBD5E1;
    line-height: 1.7;
    margin-bottom: 15px;
}


/* linha */

.linhas  {
    color: #d8e27e;
    width: 90%;
    margin: auto;

} 

 
/* h3 link */

.linkk .h3{
    color: #fcfdfd;
}


/* OBJETIVO */

.objetivo {
    max-width: 900px;
    margin: 70px auto;

    text-align: center;
    padding: 50px 30px;

    background-color: #211D45;
    border-radius: 15px;
}

.objetivo p {
    color: #CBD5E1;
    line-height: 1.7;
    font-size: 17px;
}


/* RECURSOS */

.recursos {
    max-width: 1100px;
    margin: 70px auto;

    text-align: center;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    width: 300px;
    padding: 30px;

    background-color: #211D45;

    border: 1px solid #3B82F6;
    border-radius: 15px;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #8B5CF6;
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
}

.card span {
    font-size: 40px;
}

.card h3 {
    color: #8B5CF6;
    margin: 15px 0;
}

.card p {
    color: #CBD5E1;
    line-height: 1.6;
}


/* FINAL */

.final {
    text-align: center;

    padding: 70px 20px;

    background: linear-gradient(
        135deg,
        #21184A,
        #172B55
    );
}

.final p {
    max-width: 650px;
    margin: 0 auto 30px;

    color: #CBD5E1;
    line-height: 1.7;
}

.botao {
    display: inline-block;

    padding: 13px 25px;

    background-color: #8B5CF6;
    color: white;

    text-decoration: none;

    border-radius: 8px;

    font-weight: bold;
}

.botao:hover {
    background-color: #2563EB;
}


/* RODAPÉ */

footer {
    text-align: center;
    padding: 25px;

    background-color: #111024;

    color: #94A3B8;
}